body {
    margin: 0; /* デフォルトのマージンを削除 */
    padding: 0; /* デフォルトのパディングを削除 */
    display: flex;
    justify-content: center; /* 横方向の中央に配置 */
    align-items: center; /* 縦方向の中央に配置 */
    height: 100vh;
    background-color: #f3f3f3;
    font-family: 'Arial', sans-serif;
}

#clock {
    display: inline; /* インライン要素として表示 */
    font-size: 50px;/* 時計のフォントサイズ */
}

#clock-label {
    font-size: 30px; /* または任意のサイズ */
    text-align: center;
    margin-bottom: 10px; /* 時計との間隔を調整 */
    color: #0505f5; /* または任意の色 */
}

#suffix {
    display: inline; /* インライン要素として表示 */
    font-size: 30px; /* フォントサイズを30pxに設定 */
    color: #0000ff; /* 文字色を青に設定 */
    margin-left: 10px; /* 時刻との間に少しスペースを入れる */
}

